.bg-container {
    background-color:whitesmoke;
    background-size: cover;
    height: 100vh;
} 
.card-heading{
    font-size: 45px;
    margin-left: 10px;
    font-style: initial;
    margin-bottom: 0px;
}
.card-container {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 18px;

}
.card-heading2{
    font-size: 45px;
    margin-left: 10px;
    font-style: initial;
    margin-top: 0px;
}
.card-description {
    font-size: 20px;
    font-style: oblique;
    color: dimgray;
    text-align: left;
}
.shopping-button {
    background-color: blue;
    border-radius: 3px;
    color: white;
    height: 45px;
    width: 120px;
    margin-top: 10px;
    outline: none;
    border:none;
}
.wallpaper {
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 40px;
    
    
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
