a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove default underline */
  }
  


.page-container {
    background-color:white;
    height: 100%;
}
.search-bg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.search-container {
    display: flex;
    align-items: center;
    height: 30px;
    width: 220px;
    border-radius: 5px;
    background-color:lightgrey;
    margin-left: 30px;
}
.search-bar {
    margin-left: 10px;
    margin-right: 5px;
    border: none;
    outline:none;
    background-color: lightgray;
}
.search-icon {
    margin-right: 15px;
}
.products-title{
    color:indigo;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 90px;
   
}
.display-container{
    display: flex;
    justify-content:space-between;

}
.categories-title {
 display: flex;
 flex-direction: row;
justify-content: flex-start;
font-style: italic;
margin-left: 30px;
}
.categories-container{
    display: flex;
    justify-content:flex-start;
    
    
}
.categories-container-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.category-button{
    border: none;
    outline:none;
    background-color: white;
    font-size: 25px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: left;
}
.product-card-container {
    display: flex; 
    flex-wrap: wrap;
    width: 80vw;
    padding-left: 140px;
    
}
.product-card {
    background-color:whitesmoke;
    height: auto;
    width: 350px;
    border-radius: 5px;
    margin: 5px;
}
.product-image {
   height: 200px;
    background-color: bisque;
    width: 70%;
    border-radius: 10px;
}
.product-price-container {
    display: flex;
    justify-content: space-between;
    
}
.product-price {
    font-size: 20px;
    font-style: unset;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.product-cart-button {
    height: 30px;
    width: 80px;
    background-color:azure;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-style: italic;
    outline: none;
    border: none;
}